
body {
	background-color: black;
}

.navbar {
	background-color: black;
	font-family: 'Megrim', cursive;
}

/* This is the little logo in the top left corner */
.navbar-brand {
	color: white;
}

.navbar-brand:hover {
	color: #6960EC;
}

.jumbotron {
	width: 100%;
	background-color: black;
	margin-bottom: 0px;
	text-align: center;
	background-size: 70%;
}


/* Various font styling */

/* Main header within the jumbotron ============================================*/
h1 {
	color: #6960EC;
	font-family: 'Megrim', cursive;
}

/* Card Headers ===============================================================*/
h5 {
	color: white;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 40px;
}

/* Font in the cards ============================================================*/
p, label {
	color: white;
	font-family: 'Alegreya Sans SC', sans-serif;
}

/* Turns of text decorations when hovering over the cards to click ============*/
a:hover   {
  	text-decoration:  none;
 }

/* Text below the h1 in the jumbotron ==========================================*/
.lead {
	color: white;
}

/* Styling for the cards */

/* Food Card =================================================================*/
h5.food {
	color: #F3E5F5;
	font-family: 'Alegreya Sans SC', sans-serif;
}

p.food {
	color: #F3E5F5;
}

#food-card {
	background-color: #673AB7;
	margin-bottom: 50px;
}

#food-card-expanded {
	background-color: #673AB7;
	border: 0px;
}

#food-card:hover {
	cursor: pointer;
	box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray;
}

/* This is the city and cuisine input boxes */
#cuisine-input, #city-input {
	font-family: 'Alegreya Sans SC', sans-serif;
	width: 100%;
	border-radius: 5px;
	border-width: 2px;
	margin-bottom: 5px;
}

/* This is the submit and reset buttons */
#food-button, #reset-button {
	font-family: 'Alegreya Sans SC', sans-serif;
	background-color: #F3E5F5;
	color: #9C27B0;
	border-width: 2px;
	border-radius: 5px;
	border-color: white;
}

/* Movie Card ===============================================================*/
h5.movies {
	color: #E1F5FE;
	font-family: 'Alegreya Sans SC', sans-serif;
}

p.movies {
	color: #E1F5FE;
}

#movie-card {
	background-color: #03A9F4;
	text-align: right;
	margin-bottom: 50px;
	width: 45%;
	float: right;
}

#movie-card:hover {
	cursor: pointer;
	box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray;
}

#movie-card-expanded {
	background-color: #03A9F4;
	color: black;
	border: 0px;
}

/* Spotify Card ===============================================================*/
p.music {
	color: #FCE4EC;
}

#music-card {
	background-color: #E91E63;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 45%
}

#music-card-expanded {
	background-color: #E91E63;
	color: black;
	border: 0px;
}

#music-card:hover {
	cursor: pointer;
	box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray;
}

/* This is the category input box */
#music-input {
	font-family: 'Alegreya Sans SC', sans-serif;
	width: 90%;
	border-radius: 5px;
	border-width: 2px;
	margin-bottom: 15px;
}

/* This is the create button */
#music-button {
	font-family: 'Alegreya Sans SC', sans-serif;
	background-color: #FCE4EC;
	color: #E91E63;
	border-width: 2px;
	border-radius: 5px;
	border-color: white;
}

/* Spotify iframe, make it so the size adjust with the div/window and doesnt pop out */
iframe {
    display: block;
    width: 90%;
}

/* Resizes the images to be smaller and gives them a border */
.rest-img, img {
	width: 40%;
	border-width: 5px;
	border: solid;
	border-color: white;
}

/* Loading animation that shows when the Spotify playlist is loading ===========*/
.loader, .food-loader  {
	display: none;
}

.loader.show, .food-loader.show  {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 5px solid rgba(255,255,255,0.6);
	animation: load ease 3s infinite;
	padding: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.inner-circle, .food-inner-circle {
	width: 50%;
	padding-bottom: 50%;
	border-radius: 50%;
	background: rgba(255,255,255,0.6);
}

@keyframes load {
	0%{
		border-size: 5px;
	}
	50% {
		width: 20px;
		height: 20px;
		border-size: 1px;
	}
	100% {
		border-size: 5px;
	}
